In [26]:
import requests
import json
import quandl
from pprint import pprint

quandl.ApiConfig.api_key = 'x_XCDoMssgvRUBStbiPn'

response_one = quandl.get('CMHC/HPPU50_ON')

In [28]:
response_one

,1st 20%,2nd 40%,3rd 60%,4th 80%,Median,Average,Units
Date,,,,,,,
1990-01-31,150000.0,185000.0,245000.0,325000.0,210000.0,258624.0,2176.0
1990-02-28,145000.0,185000.0,247000.0,336000.0,210000.0,263596.0,2038.0
1990-03-31,150000.0,190000.0,260000.0,350000.0,225000.0,272363.0,2114.0
1990-04-30,150000.0,200000.0,275000.0,380000.0,235000.0,289688.0,2326.0
1990-05-31,160000.0,215000.0,290000.0,400000.0,255000.0,299476.0,2728.0
...,...,...,...,...,...,...,...
2020-05-31,495000.0,635000.0,800000.0,1800000.0,700000.0,1078201.0,1645.0
2020-06-30,500000.0,645000.0,800000.0,1716000.0,700000.0,1080305.0,1706.0
2020-07-31,500000.0,650000.0,800000.0,1700000.0,700000.0,1079935.0,1635.0
2020-08-31,500000.0,650000.0,815000.0,1842000.0,700000.0,1098202.0,1653.0
2020-09-30,510000.0,650000.0,829000.0,1900000.0,725000.0,1108726.0,1562.0

In [31]:
response_two = quandl.get('CMHC/HPPU50_ON', start_date='2019-01-01', end_date='2020-09-30')
response_two

,1st 20%,2nd 40%,3rd 60%,4th 80%,Median,Average,Units
Date,,,,,,,
2019-01-31,440000.0,555000.0,670000.0,1260000.0,620000.0,928256.0,1413.0
2019-02-28,440000.0,555000.0,670000.0,1100000.0,620000.0,899072.0,1460.0
2019-03-31,450000.0,575000.0,690000.0,1125000.0,630000.0,924375.0,1471.0
2019-04-30,465000.0,585000.0,700000.0,1330000.0,645000.0,971201.0,1383.0
2019-05-31,480000.0,610000.0,750000.0,1580000.0,675000.0,1029992.0,1454.0
2019-06-30,480000.0,610000.0,752000.0,1659000.0,680000.0,1045867.0,1563.0
2019-07-31,485000.0,625000.0,750000.0,1634000.0,700000.0,1039526.0,1651.0
2019-08-31,500000.0,630000.0,750000.0,1640000.0,700000.0,1045432.0,1655.0
2019-09-30,500000.0,640000.0,775000.0,1744000.0,700000.0,1070847.0,1622.0
2019-10-31,490000.0,630000.0,765000.0,1750000.0,700000.0,1054415.0,1619.0
2019-11-30,480000.0,615000.0,755000.0,1800000.0,690000.0,1048092.0,1689.0
2019-12-31,490000.0,615000.0,750000.0,1700000.0,695000.0,1038672.0,1719.0
2020-01-31,485000.0,610000.0,750000.0,1700000.0,682500.0,1036849.0,1686.0
2020-02-29,480000.0,606000.0,750000.0,1627000.0,675000.0,1027546.0,1677.0
2020-03-31,493000.0,626000.0,800000.0,1850000.0,700000.0,1067067.0,1642.0
2020-04-30,490000.0,620000.0,780000.0,1880000.0,700000.0,1077145.0,1593.0
2020-05-31,495000.0,635000.0,800000.0,1800000.0,700000.0,1078201.0,1645.0
2020-06-30,500000.0,645000.0,800000.0,1716000.0,700000.0,1080305.0,1706.0
2020-07-31,500000.0,650000.0,800000.0,1700000.0,700000.0,1079935.0,1635.0
2020-08-31,500000.0,650000.0,815000.0,1842000.0,700000.0,1098202.0,1653.0
2020-09-30,510000.0,650000.0,829000.0,1900000.0,725000.0,1108726.0,1562.0