In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
# The path to our CSV file

filepath=os.path.join("cnd_mortgage_housing_under_construction.csv")

# Read our Kickstarter data into pandas

Housing = pd.read_csv(filepath)
Housing

,REF_DATE,GEO,DGUID,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1962-01,Canada,2016A000011124,Units,300,units,0,v15819027,1,49109,NaN,NaN,NaN,0
1,1962-01,Atlantic provinces,2016A00011,Units,300,units,0,v15819028,2,1988,NaN,NaN,NaN,0
2,1962-01,Newfoundland and Labrador,2016A000210,Units,300,units,0,v15819029,3,288,NaN,NaN,NaN,0
3,1962-01,Prince Edward Island,2016A000211,Units,300,units,0,v15819030,4,75,NaN,NaN,NaN,0
4,1962-01,Nova Scotia,2016A000212,Units,300,units,0,v15819031,5,1175,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4695,2020-07,Saskatchewan,2016A000247,Units,300,units,0,v15819042,16,2098,NaN,NaN,NaN,0
4696,2020-07,Alberta,2016A000248,Units,300,units,0,v15819043,17,21206,NaN,NaN,NaN,0
4697,2020-07,British Columbia,2016A000259,Units,300,units,0,v15819044,18,60270,NaN,NaN,NaN,0
4698,2020-07,Vancouver. British Columbia,2011S0503933,Units,300,units,0,v15819045,19,43746,NaN,NaN,NaN,0
4699,2020-07,"British Columbia, excluding Vancouver",NaN,Units,300,units,0,v15819046,20,16524,NaN,NaN,NaN,0

In [3]:
HousingDate = Housing.set_index('REF_DATE')
HousingDate.head()

,GEO,DGUID,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
REF_DATE,,,,,,,,,,,,,
1962-01,Canada,2016A000011124,Units,300,units,0,v15819027,1,49109,NaN,NaN,NaN,0
1962-01,Atlantic provinces,2016A00011,Units,300,units,0,v15819028,2,1988,NaN,NaN,NaN,0
1962-01,Newfoundland and Labrador,2016A000210,Units,300,units,0,v15819029,3,288,NaN,NaN,NaN,0
1962-01,Prince Edward Island,2016A000211,Units,300,units,0,v15819030,4,75,NaN,NaN,NaN,0
1962-01,Nova Scotia,2016A000212,Units,300,units,0,v15819031,5,1175,NaN,NaN,NaN,0

In [4]:
HousingDateFilter = HousingDate.loc['2019-01':'2020-07']
HousingDateFilter

,GEO,DGUID,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
REF_DATE,,,,,,,,,,,,,
2019-01,Canada,2016A000011124,Units,300,units,0,v15819027,1,242516,NaN,NaN,NaN,0
2019-01,Atlantic provinces,2016A00011,Units,300,units,0,v15819028,2,7701,NaN,NaN,NaN,0
2019-01,Newfoundland and Labrador,2016A000210,Units,300,units,0,v15819029,3,567,NaN,NaN,NaN,0
2019-01,Prince Edward Island,2016A000211,Units,300,units,0,v15819030,4,479,NaN,NaN,NaN,0
2019-01,Nova Scotia,2016A000212,Units,300,units,0,v15819031,5,5438,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07,Saskatchewan,2016A000247,Units,300,units,0,v15819042,16,2098,NaN,NaN,NaN,0
2020-07,Alberta,2016A000248,Units,300,units,0,v15819043,17,21206,NaN,NaN,NaN,0
2020-07,British Columbia,2016A000259,Units,300,units,0,v15819044,18,60270,NaN,NaN,NaN,0
2020-07,Vancouver. British Columbia,2011S0503933,Units,300,units,0,v15819045,19,43746,NaN,NaN,NaN,0
2020-07,"British Columbia, excluding Vancouver",NaN,Units,300,units,0,v15819046,20,16524,NaN,NaN,NaN,0

In [5]:
GeoFilter = HousingDateFilter.loc[(HousingDateFilter["GEO"] == "Ontario"),:]
GeoFilter

,GEO,DGUID,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
REF_DATE,,,,,,,,,,,,,
2019-01,Ontario,2016A000235,Units,300,units,0,v15819036,10,106979,NaN,NaN,NaN,0
2019-04,Ontario,2016A000235,Units,300,units,0,v15819036,10,109785,NaN,NaN,NaN,0
2019-07,Ontario,2016A000235,Units,300,units,0,v15819036,10,115158,NaN,NaN,NaN,0
2019-10,Ontario,2016A000235,Units,300,units,0,v15819036,10,117954,NaN,NaN,NaN,0
2020-01,Ontario,2016A000235,Units,300,units,0,v15819036,10,116316,NaN,NaN,NaN,0
2020-04,Ontario,2016A000235,Units,300,units,0,v15819036,10,120040,NaN,NaN,NaN,0
2020-07,Ontario,2016A000235,Units,300,units,0,v15819036,10,126079,NaN,NaN,NaN,0

In [6]:
HousingUnderConstruction = GeoFilter.drop(columns=["SCALAR_ID","STATUS","SYMBOL","TERMINATED","DECIMALS"])
HousingUnderConstruction

,GEO,DGUID,UOM,UOM_ID,SCALAR_FACTOR,VECTOR,COORDINATE,VALUE
REF_DATE,,,,,,,,
2019-01,Ontario,2016A000235,Units,300,units,v15819036,10,106979
2019-04,Ontario,2016A000235,Units,300,units,v15819036,10,109785
2019-07,Ontario,2016A000235,Units,300,units,v15819036,10,115158
2019-10,Ontario,2016A000235,Units,300,units,v15819036,10,117954
2020-01,Ontario,2016A000235,Units,300,units,v15819036,10,116316
2020-04,Ontario,2016A000235,Units,300,units,v15819036,10,120040
2020-07,Ontario,2016A000235,Units,300,units,v15819036,10,126079

In [7]:
HousingUnderConstruction = GeoFilter[["GEO","UOM","VALUE"]]
HousingUnderConstruction

              GEO    UOM   VALUE
REF_DATE
2019-01   Ontario  Units  106979
2019-04   Ontario  Units  109785
2019-07   Ontario  Units  115158
2019-10   Ontario  Units  117954
2020-01   Ontario  Units  116316
2020-04   Ontario  Units  120040
2020-07   Ontario  Units  126079

In [9]:
Data = {'REF_DATE':['2019-01', '2019-04','2019-07','2019-10','2020-01','2020-04','2020-07'],
        'Quarter':['Q1 2019','Q2 2019','Q3 2019','Q4 2019','Q1 2020','Q2 2020','Q3 2020'],
        'GEO':['Ontario'], 
        'UOM':['Units'], 
        'VALUE':[106979, 109785, 115158, 117954, 116316,120040,126079]} 

index = {'0', '1', '2', '3', '4','5','6'} 
HousingUnderConstruction = pd.DataFrame(Data, index) 
HousingUnderConstruction.set_index(['REF_DATE'], inplace = True) 
HousingUnderConstruction.reset_index(level =['REF_DATE'], inplace = True)
HousingUnderConstruction.columns = ["Date","Quarter", "GEO","UOM","VALUE"]
HousingUnderConstruction

      Date  Quarter      GEO    UOM   VALUE
0  2019-01  Q1 2019  Ontario  Units  106979
1  2019-04  Q2 2019  Ontario  Units  109785
2  2019-07  Q3 2019  Ontario  Units  115158
3  2019-10  Q4 2019  Ontario  Units  117954
4  2020-01  Q1 2020  Ontario  Units  116316
5  2020-04  Q2 2020  Ontario  Units  120040
6  2020-07  Q3 2020  Ontario  Units  126079

In [65]:
Reported_cases_per_month_ON.to_csv("Final_Resources/2. COVID_Reported_cases_per_month_ON.csv")